{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Отзовик{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="container mt-2">
        <ul>
            <li class="d-inline mr-4">
                <a class="link-dark" href="{% url 'index' %}">Главная</a>
            </li>
            <li class="d-inline mr-4">
                <a class="link-dark" href="{% url 'product_add_view' %}">Добавить продукт</a>
            </li>
            {% if user.is_authenticated %}
                <li class="d-inline mr-4">
                    <a href="{% url 'profile' user.pk %}" class="link-dark">Профиль</a>
                </li>
                <li class="d-inline mr-4">
                    Привет, {{ user.username }}
                </li>
                <li class="d-inline mr-4">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="link-dark" value="Выйти">
                    </form>
                </li>
            {% else %}
                <li class="d-inline mr-4">
                    <a href="{% url 'login' %}" class="link-dark d-inline mr-4">Войти</a>
                </li>
                <li class="d-inline mr-4">
                    <a href="{% url 'register' %}" class="link-dark d-inline mr-4">Зарегистрироваться</a>
                </li>
            {% endif %}
            <li class="d-inline mr-4">
                {% block menu %}{% endblock %}
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
