{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
    <li class="d-inline mr-4">
        <a href=" {% url 'change' user_obj.pk %}">Редактировать</a>
    </li>
    <li class="d-inline mr-4">
        <a href="#">Смена пароля</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>

    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>
{% endblock %}